<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="My_netTcpBinding" maxReceivedMessageSize="2147483647"/>
      </netTcpBinding>
      <webHttpBinding>
        <binding proxyAddress="127.0.0.1:8888" name ="My_proxyBinding" useDefaultWebProxy="false"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webster">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>

      <endpoint address="net.tcp://localhost:1234/Command"
                binding="netTcpBinding"
                bindingConfiguration="My_netTcpBinding"
                contract="Instigate.Wcf.Command.ICommandService"
                name="NetTcpEndpoint_ICommandService" />

    </client>
  </system.serviceModel>
</configuration>