<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="My_netTcpBinding" maxReceivedMessageSize="2147483647"  />
      </netTcpBinding>
    </bindings>
    <client>

      <endpoint address="net.tcp://localhost:8080/Customers"
          binding="netTcpBinding"
          bindingConfiguration="My_netTcpBinding"
          contract="ReadSoft.MasterData.ICustomersService"
          name="NetTcpEndpoint_ICustomersService"
                />

    </client>
  </system.serviceModel>-->
</configuration>